<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.tuxpan.foregroundvideocapture"
        version="0.1.1">
    <name>Foreground and Gallery</name>
    <license>Apache 2.0</license>
    <author>Esteban Conejeros and others</author>
    <description>Video Capture in foreground</description>
    <keywords>video,foreground</keywords>
    
    <engines>
        <engine name="cordova" version=">=3.3.0" />
    </engines>    

    <js-module src="www/CaptureError.js" name="CaptureError">
        <clobbers target="CaptureError" />
    </js-module>
    
    <js-module src="www/CaptureVideoOptions.js" name="CaptureVideoOptions">
        <clobbers target="CaptureVideoOptions" />
    </js-module>

    <js-module src="www/captureFG.js" name="camera">
        <clobbers target="navigator.captureFG" />
    </js-module>
    
    <js-module src="www/MediaFile.js" name="MediaFile">
        <clobbers target="MediaFile" />
    </js-module>

    <js-module src="www/MediaFileData.js" name="MediaFileData">
        <clobbers target="MediaFileData" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CaptureFG">
                <param name="android-package" value="com.tuxpan.foregroundvideocapture.CaptureFG"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.tuxpan.foregroundvideo.RecorderActivity" 
                android:screenOrientation="landscape" 
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
            
            
        </config-file>
        
        <source-file src="src/android/CameraHelper.java" target-dir="src/com/tuxpan/foregroundvideocapture" />
        <source-file src="src/android/CaptureFG.java" target-dir="src/com/tuxpan/foregroundvideocapture" />
        <source-file src="src/android/CaptureWindow.java" target-dir="src/com/tuxpan/foregroundvideocapture" />
        <source-file src="src/android/FileHelper.java" target-dir="src/com/tuxpan/foregroundvideocapture" />
        <source-file src="src/android/RecorderActivity.java" target-dir="src/com/tuxpan/foregroundvideocapture" />
                
        <source-file src="src/android/sample_main.xml" target-dir="res/layout" />
                   
     </platform>
           
</plugin>
